@font-face {
  font-family: 'GraphikLCG';
  src: url('../static/fonts/GraphikLCG-Regular.woff2') format('woff2'),
      url('../static/fonts/GraphikLCG-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
